In [2]:
import pandas as pd
import re
from datetime import datetime
import yfinance as yf

In [3]:
# get historical market data
# https://stackoverflow.com/questions/44225771/scraping-historical-data-from-yahoo-finance-with-python

tsla = yf.Ticker("TSLA")

hist = tsla.history(period="1mo")

print(hist)

                                 Open        High         Low       Close  \
Date
2023-02-06 00:00:00-05:00  193.009995  198.169998  189.919998  194.759995
2023-02-07 00:00:00-05:00  196.429993  197.500000  189.550003  196.809998
2023-02-08 00:00:00-05:00  196.100006  203.000000  194.309998  201.289993
2023-02-09 00:00:00-05:00  207.779999  214.000000  204.770004  207.320007
2023-02-10 00:00:00-05:00  202.229996  206.199997  192.889999  196.889999
2023-02-13 00:00:00-05:00  194.419998  196.300003  187.610001  194.639999
2023-02-14 00:00:00-05:00  191.940002  209.820007  189.440002  209.250000
2023-02-15 00:00:00-05:00  211.759995  214.660004  206.110001  214.240005
2023-02-16 00:00:00-05:00  210.779999  217.649994  201.839996  202.039993
2023-02-17 00:00:00-05:00  199.990005  208.440002  197.500000  208.309998
2023-02-21 00:00:00-05:00  204.990005  209.710007  197.220001  197.369995
2023-02-22 00:00:00-05:00  197.929993  201.990005  191.779999  200.860001
2023-02-23 00:00:00-05:00  203.910004  205.139999  196.330002  202.070007
2023-02-24 00:00:00-05:00  196.330002  197.669998  192.800003  196.880005
2023-02-27 00:00:00-05:00  202.029999  209.419998  201.259995  207.630005
2023-02-28 00:00:00-05:00  210.589996  211.229996  203.750000  205.710007
2023-03-01 00:00:00-05:00  206.210007  207.199997  198.520004  202.770004
2023-03-02 00:00:00-05:00  186.740005  193.750000  186.009995  190.899994
2023-03-03 00:00:00-05:00  194.800003  200.479996  192.880005  197.789993

                              Volume  Dividends  Stock Splits
Date
2023-02-06 00:00:00-05:00  186188100        0.0           0.0
2023-02-07 00:00:00-05:00  186010300        0.0           0.0
2023-02-08 00:00:00-05:00  180673600        0.0           0.0
2023-02-09 00:00:00-05:00  215431400        0.0           0.0
2023-02-10 00:00:00-05:00  204193800        0.0           0.0
2023-02-13 00:00:00-05:00  172475500        0.0           0.0
2023-02-14 00:00:00-05:00  216455700        0.0           0.0
2023-02-15 00:00:00-05:00  182108600        0.0           0.0
2023-02-16 00:00:00-05:00  229586500        0.0           0.0
2023-02-17 00:00:00-05:00  213080200        0.0           0.0
2023-02-21 00:00:00-05:00  180018600        0.0           0.0
2023-02-22 00:00:00-05:00  191828500        0.0           0.0
2023-02-23 00:00:00-05:00  146360000        0.0           0.0
2023-02-24 00:00:00-05:00  142228100        0.0           0.0
2023-02-27 00:00:00-05:00  161028300        0.0           0.0
2023-02-28 00:00:00-05:00  153144900        0.0           0.0
2023-03-01 00:00:00-05:00  156852800        0.0           0.0
2023-03-02 00:00:00-05:00  181500700        0.0           0.0
2023-03-03 00:00:00-05:00  153800400        0.0           0.0

In [8]:
# save record to dataframe
df = pd.DataFrame(hist)

# reset index for date column
df = df.reset_index()

# lower cols name
df.columns = df.columns.str.lower()

# only save the date 
df['date'] = df['date'].apply(lambda x: x.strftime('%d-%m-%Y'))

# 
df

,date,open,high,low,close,volume,dividends,stock splits
0,06-02-2023,193.009995,198.169998,189.919998,194.759995,186188100,0.0,0.0
1,07-02-2023,196.429993,197.500000,189.550003,196.809998,186010300,0.0,0.0
2,08-02-2023,196.100006,203.000000,194.309998,201.289993,180673600,0.0,0.0
3,09-02-2023,207.779999,214.000000,204.770004,207.320007,215431400,0.0,0.0
4,10-02-2023,202.229996,206.199997,192.889999,196.889999,204193800,0.0,0.0
5,13-02-2023,194.419998,196.300003,187.610001,194.639999,172475500,0.0,0.0
6,14-02-2023,191.940002,209.820007,189.440002,209.250000,216455700,0.0,0.0
7,15-02-2023,211.759995,214.660004,206.110001,214.240005,182108600,0.0,0.0
8,16-02-2023,210.779999,217.649994,201.839996,202.039993,229586500,0.0,0.0
9,17-02-2023,199.990005,208.440002,197.500000,208.309998,213080200,0.0,0.0
10,21-02-2023,204.990005,209.710007,197.220001,197.369995,180018600,0.0,0.0
11,22-02-2023,197.929993,201.990005,191.779999,200.860001,191828500,0.0,0.0
12,23-02-2023,203.910004,205.139999,196.330002,202.070007,146360000,0.0,0.0
13,24-02-2023,196.330002,197.669998,192.800003,196.880005,142228100,0.0,0.0
14,27-02-2023,202.029999,209.419998,201.259995,207.630005,161028300,0.0,0.0
15,28-02-2023,210.589996,211.229996,203.750000,205.710007,153144900,0.0,0.0
16,01-03-2023,206.210007,207.199997,198.520004,202.770004,156852800,0.0,0.0
17,02-03-2023,186.740005,193.750000,186.009995,190.899994,181500700,0.0,0.0
18,03-03-2023,194.800003,200.479996,192.880005,197.789993,153800400,0.0,0.0

In [9]:
df[['day', 'month', 'year']] = df.date.str.split("-", expand=True)

df

,date,open,high,low,close,volume,dividends,stock splits,day,month,year
0,06-02-2023,193.009995,198.169998,189.919998,194.759995,186188100,0.0,0.0,06,02,2023
1,07-02-2023,196.429993,197.500000,189.550003,196.809998,186010300,0.0,0.0,07,02,2023
2,08-02-2023,196.100006,203.000000,194.309998,201.289993,180673600,0.0,0.0,08,02,2023
3,09-02-2023,207.779999,214.000000,204.770004,207.320007,215431400,0.0,0.0,09,02,2023
4,10-02-2023,202.229996,206.199997,192.889999,196.889999,204193800,0.0,0.0,10,02,2023
5,13-02-2023,194.419998,196.300003,187.610001,194.639999,172475500,0.0,0.0,13,02,2023
6,14-02-2023,191.940002,209.820007,189.440002,209.250000,216455700,0.0,0.0,14,02,2023
7,15-02-2023,211.759995,214.660004,206.110001,214.240005,182108600,0.0,0.0,15,02,2023
8,16-02-2023,210.779999,217.649994,201.839996,202.039993,229586500,0.0,0.0,16,02,2023
9,17-02-2023,199.990005,208.440002,197.500000,208.309998,213080200,0.0,0.0,17,02,2023
10,21-02-2023,204.990005,209.710007,197.220001,197.369995,180018600,0.0,0.0,21,02,2023
11,22-02-2023,197.929993,201.990005,191.779999,200.860001,191828500,0.0,0.0,22,02,2023
12,23-02-2023,203.910004,205.139999,196.330002,202.070007,146360000,0.0,0.0,23,02,2023
13,24-02-2023,196.330002,197.669998,192.800003,196.880005,142228100,0.0,0.0,24,02,2023
14,27-02-2023,202.029999,209.419998,201.259995,207.630005,161028300,0.0,0.0,27,02,2023
15,28-02-2023,210.589996,211.229996,203.750000,205.710007,153144900,0.0,0.0,28,02,2023
16,01-03-2023,206.210007,207.199997,198.520004,202.770004,156852800,0.0,0.0,01,03,2023
17,02-03-2023,186.740005,193.750000,186.009995,190.899994,181500700,0.0,0.0,02,03,2023
18,03-03-2023,194.800003,200.479996,192.880005,197.789993,153800400,0.0,0.0,03,03,2023